RISK_AGENT_RUNTIME_DIR=./runtime
RISK_AGENT_HOST=127.0.0.1
RISK_AGENT_PORT=8765
RISK_AGENT_MAX_UPLOAD_MB=50
RISK_AGENT_MAX_BACKUP_MB=500
RISK_AGENT_MAX_ROWS=500000
RISK_AGENT_MAX_COLUMNS=20000
RISK_AGENT_MEMORY_BUDGET_MB=1536
